# Arbitrage account on Brave MetaMask
WALLET_PUBLIC_KEY=''
WALLET_PRIVATE_KEY=''
HARDHAT_PUBLIC_KEY=''
HARDHAT_PRIVATE_KEY=''
ALCHEMY_ETHEREUM_ENDPOINT=''
ALCHEMY_SEPOLIA_ENDPOINT=''
ALCHEMY_POLYGON_TESTNET_ENDPOINT=''
ALCHEMY_POLYGON_ENDPOINT=''
